@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Le Murmure';
  src: url('/fonts/LeMurmure-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #d7d7d7;
  --foreground: #1c1c1c;
}
